/*Estilização do footer*/
* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #220315;
  height: 100%;
  padding: 50px;

}
/*Estilização logo footer*/
.logos_contato {
  display: flex;
  flex-direction: row;
  justify-content: center
}
.ativo{
  color: #fea304 !important;
}

.logos_contato img {
  width: 40px;
  height: 40px;
  margin: 1rem;
  
}
/*Estilização do rodapé*/
.latila {
  text-align: center;
  background-color: rgb(18, 90, 68);
  height: 20px;
  padding: 35px;
   font-family: Arial, Helvetica, sans-serif;
}
/*Estilização do footer h2*/
.entreemcontato {
  text-align: center;
}

.logog {
  
  display: flex;   
   justify-content: center;
}

.logofooter{
  width: 200px;
}

footer h2{
  color: #ffffff;
}